/* align the filter text to thee rigth */
.RadMenu_rtl .rgFilterListMenu .rlbItem, .RadMenu_rtl .rgFilterListMenu .rlbCheckAllItems {
    text-align: right;
}

/* move filter icon to the left */
.RadMenu_rtl .rmGroup .rmImage, .RadMenu_rtl .rmGroup .rmLeftImage {
    margin-left: 5px !important;
    left: 0 !important;
    right: inherit !important;
}

/* move the vertical grayer strip stop the left */
.RadMenu_rtl .rmGroup:before,
.RadMenu_rtl .rmMultiColumn:before,
.RadMenu_rtl .rmScrollWrap > .rmHorizontal:before,
.RadMenu_rtl .rmScrollWrap > .rmVertical:before {
    border-width: 0 0 0 1px;
    left: 0px !important;
    right: auto !important;
}

/* move to the rigth the vertical border at the top */
.RadMenu_rtl .rmVertical > .rmSeparator {
    margin-left: 32px !important;
    margin-right: 0px !important;
}

/* change filter icon in grid header */
.RadGrid .rgOptionsIcon:before, .RadGrid .rgOptSelectedIcon:before {
    /*/content: "\e019"; */
    content: "\e129" !important;
}

/* filter & clearFilter buttons */
.GridContextMenu .rgFilterMenu .rgHCMFilter {
     margin-left: 10px !important;
}

/* checck box & text in checklist !! check at home may use !imprtant */
.RadListBox .rlbCheckAllItemsCheckBox, .RadListBox .rlbCheck {
    margin-right: -8px;
    margin-left: 8px;
}
